{% macro title(title="TITLE",  subtitle='subtitle text', type="") -%}

<section class="hero is-link {{type}}">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <label class="navbar-item">
                        SALTES TRACKER
                    </label>
                    <span class="navbar-burger" data-target="navbarMenuHeroA">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item0" href="http://devnatriana.com/" target="_blank">
                            ABOUT THE CREATOR
                        </a>
                        <span class="navbar-item">
                            <a class="button is-primary is-inverted" href="https://github.com/neoygdrassyl/steam-sales-tracker" target="_blank">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>CHECK ON GITHUB</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <h1 class="title">{{title}}</h1>
        <p class="subtitle">{{subtitle}}</p>
    </div>


</section>


{%- endmacro %}